p A blog about mostly web related technologies

section.posts-index
  each post in posts
    section.post-entry
      h3
        a(href="/blog/" + post.slug)= post.title
      span.post-date= post.timestamp
      p !{post.summary}
