p A blog about mostly web related technologies

section.posts-index
  ol
    each post in posts
      li
        h3
          a(href="/blog/" + post.name)= post.title
        span.post-date= post.timestamp
        p !{post.summary}
