doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="/assets/favicon-16x16.png")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css")
    link(rel="preconnect",href="https://fonts.googleapis.com")
    link(rel="preconnect",href="https://fonts.gstatic.com",crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap",rel="stylesheet")
    link(rel="stylesheet", href="/css/styles.css")
    title Unit 42
  body
    header
      span.logo
        a(href="/") Unit 42

    section.main-content !{contents}
